// COMPONENTS
// ICON
// =================================================

.icon {
	width: 1.8rem;
	height: 1.8rem;
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		width: 100%;
		height: 100%;
		display: inline-block;
	}
}