*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

html {
	box-sizing: border-box;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	font-size: 10px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	word-spacing: 1px;
	text-size-adjust: 100%;
}

body {
	font-size: 1rem;
}

textarea {
	font-family: Avenir, Helvetica, Arial, sans-serif;
}
