// ABSTRACTS VARIABLES
// COLORS
// =================================================

// SHADES OF GRAY
/////////////////
$color-white: #ffffff;
$color-ghost: #f2f2f2;
$color-light: #dcdfe3;
$color-gray: #63666a;
$color-dark: #353535;
$color-black: #000000;

// BRAND
/////////////////
$color-brand-1: #00c58e;
$color-brand-2: #2f495e;
$color-brand-3: #108775;
$color-brand-4: #2d3748;

// STATUS
/////////////////
$color-error: #ce4606;
$color-success: #6cc24a;
