// ABSTRACTS VARIABLES
// COLORS
// =================================================

// BRAND
/////////////////
$color-brand-1: #00c58e;
$color-brand-2: #2f495e;
$color-brand-3: #108775;
$color-brand-4: #2d3748;
